::before,
::after,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    scroll-snap-stop: always;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

input:focus, 
textarea:focus,
a:focus {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

button {
    outline: none;
    box-shadow: none;
}

/* 
==========
NAVIGATION
==========*/

.nav-bar {
    display: none;
}

/* @media screen and (min-width: 500px) {
    .mobile-nav-items-fixed {
        display: none;
    }

} */


/* mobile nav bar */
.mobile-nav-bar {
    background: rgb(34, 0, 34);
    padding: 0rem;
    position: fixed;
    /* position: absolute; */
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
}

.mobile-brand-name {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-brand-name > a {
    display: flex;
    align-items: center;
    color: rgb(0, 207, 52);
}

.mobile-brand-name > a > span {
    font-size: 3.5rem;
    font-weight: bold;
    margin-right: 0.1rem;
}

.mobile-brand-name > a > div > span {
    display: block;
    font-weight: initial;
}

.mobile-brand-name > a > div > span:first-child{
    font-weight: bold;
    font-size: 1.1rem;
}

.mobile-brand-name > a > div > span:last-child {
    color: white;
}

.mobile-brand-name > .font-awesome-btns {
    color: white;
    font-size: 2rem;
}

.close-btn {
    animation: spin;
    animation-duration: 0.3s;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.mobile-menu-items {
    position: absolute;
    z-index: 2;
    right: -100%;
    top: 60px;
    width: 100%;
    height: 100vh;
    background: rgb(34, 0, 34);
    transition: right 0.2s linear;
    border-top: 1px solid rgb(80, 0, 80)
}

.show-mobile-menu-items {
    right: 0;
    overflow: auto;
}

.mobile-menu-items > li > a {
    color: white;
    display: block;
    padding: 1rem 1.5rem;
    letter-spacing: 0.05rem;
    border-bottom: 1px solid rgb(80, 0, 80);
}

.mobile-menu-items > li > a:hover {
    background: rgb(80, 0, 80)
}

.mobile-menu-items > li > .user-profile {
    display: flex !important;
    align-items: center;
}

.mobile-menu-items > li > .user-profile > img {
    width: 55px;
    height: auto;
    display: block;
    margin-right: 0.3rem;
}

.mobile-menu-items > li > .user-profile > div > span {
    display: block;
    padding: 1px 0;
}

.mobile-nav-items-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: rgb(34, 0, 34);
}

.mobile-nav-wrapper {
    width: 90%;
    margin: 0 auto;
    /* padding: 1rem 0; */
}

.mobile-search-form {
    max-height: 0;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: max-height 0.05s linear;
}

.show-mobile-search-form {
    max-height: 200px;
    padding: 1rem 0 0.5rem 0;
}

.mobile-search-form > input {
    flex: 2;
    padding: 1rem 0.5rem;
    color: rgb(44, 44, 44);
    letter-spacing: 0.05rem;
    font-size: 1rem;
    border: none !important;
    border-radius: 0;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.mobile-search-form > button {
    padding: 1.06rem;
    background:rgb(0, 146, 37);
    color: white;
    font-size: 1rem;
    border: none !important;
    border-radius: 0;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.mobile-nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.mobile-nav-items > li > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.1rem;
    color: white;
}

.mobile-nav-items > li > a > span {
    text-align: center;
}

.mobile-nav-items > li > a > span:first-child {
    font-size: 1.4rem;
}

.mobile-nav-items > li > a > span:last-child {
    font-size: 0.85rem;
    color: rgb(219, 219, 219);
    letter-spacing: 0.05rem;
}

/* end of mobile nav bar */

/* large screen nav bar */
@media screen and (min-width: 780px) {
    .mobile-nav-items-fixed {
        display: none;
    }
    .mobile-nav-bar {
        display: none;
    }

    .nav-bar {
        display: block !important;
        background: rgb(34, 0, 34);
        padding: 0.6rem 0;
        /* position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        overflow-x: hidden */
    }

    .nav-wrapper {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .brand-name-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .brand-name-wrapper > a {
        display: flex;
        align-items: center;
        color: rgb(0, 207, 52);
    }
    
    .brand-name-wrapper > a > span {
        font-size: 4rem;
        font-weight: bold;
        margin-right: 0.1rem;
    }
    
    .brand-name-wrapper > a > div > span {
        display: block;
        font-weight: initial;
    }
    
    .brand-name-wrapper > a > div > span:first-child{
        font-weight: bold;
        font-size: 1.3rem;
    }
    
    .brand-name-wrapper > a > div > span:last-child {
        color: white;
    }
    
    .search-form {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 5rem;
        max-width: 1000px;
    }

    .search-form > input {
        flex: 2;
        padding: 1rem;
        color: rgb(44, 44, 44);
        letter-spacing: 0.05rem;
        font-size: 1rem;
        border: none !important;
        border-radius: 0;
        border-top-left-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
    }
    
    .search-form > button {
        padding: 1.06rem 1.5rem;
        background:rgb(0, 146, 37);
        color: white;
        font-size: 1rem;
        border: none !important;
        border-radius: 0;
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
    }

    .large-font-awesome-btns {
        color: white;
        font-size: 2rem;
        border-radius: 5px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .large-font-awesome-btns > .close-btn-2 {
        animation: spin;
        animation-duration: 0.3s;
        display: none;
        padding: 0.5rem 0 !important;
    }

    .nav-items {
        background: rgb(121, 0, 121);
        position: absolute;
        top: 95px;
        right: 10px;
        width: 30%;
        max-width: 350px;
        opacity: 0;
        border-radius: 10px;
        max-height: 0;
        overflow: hidden;
        white-space: nowrap;
        transition: max-height 0s linear, opacity 0.5s linear;
    }

    .show-nav-items {
        max-height: 500px;
        opacity: 1;
    }

    .nav-items > li > a {
        padding: 1rem 2rem;
        border-bottom: 1px solid rgb(90, 0, 90);
        display: block;
        color: white;
        text-transform: uppercase;
    }

    .nav-items > li:last-child > a {
        border-bottom: none;
    }

}

@media screen and (min-width: 1150px) {
    /* .search-form > button {
        padding: 1.06rem 1rem;
    } */

    .large-font-awesome-btns {
        display: none;
    }

    .nav-items {
        background: initial;
        position: initial;
        top: initial;
        right: initial;
        width: initial;
        max-width: initial;
        opacity: initial;
        border-radius: 0;
        max-height: initial;
        overflow: hidden;
        white-space: initial;
        transition: initial;

        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 1.2rem;
    }

    .nav-items > li > a {
        padding: 0;
        border-bottom: none;
        display: inline-block;
        /* color: white;
        text-transform: uppercase; */
    }
}

/* end of large screen nav bar */

/*
====
HOME
====*/

@media screen and (min-width: 780px) {
    .hero-img {
        margin-top: 0 !important;
    }
    .contents {
        margin: 2rem auto 2rem auto !important
    }
}

/*
===========
END OF HOME
===========*/