{% extends 'blog/index.html' %}



<title>{% block title %} Home {% endblock title %}</title>



{% block content %}
<div><h1>Home</h1></div>
<div class="main-container">
    <div class="left-container">
        <div class="left-header">
            <h1>Latest blog</h1>
        </div>
        <div class="latest-blog-container">
            <p>
                Lorem Ipsum has been the industry's standard dummy 
                text ever since the 1500s, when an unknown printer took 
                a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries
            </p>
        </div>
        <div class="latest-blog-container">
            <p>
                Lorem Ipsum has been the industry's standard dummy 
                text ever since the 1500s, when an unknown printer took 
                a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries
            </p>
        </div>
        <div class="latest-blog-container">
            <p>
                Lorem Ipsum has been the industry's standard dummy 
                text ever since the 1500s, when an unknown printer took 
                a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries
            </p>
        </div>
        <div class="latest-blog-container">
            <p>
                Lorem Ipsum has been the industry's standard dummy 
                text ever since the 1500s, when an unknown printer took 
                a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries
            </p>
        </div>
        <div class="latest-blog-container">
            <p>
                Lorem Ipsum has been the industry's standard dummy 
                text ever since the 1500s, when an unknown printer took 
                a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries
            </p>
        </div>
    </div>
    <div class="center-container">
        <!-- <div class="center-header">
            <h1>Home</h1>
        </div> -->
        <div class="form-container">
            <form id='blog-form' class='blog-form' action="/new/blog" method="POST">
                {% csrf_token %}
                <input type="hidden" value="/" name="next">
                <input type="text" name="title" placeholder="Title">
                <textarea name="content" id="" cols="30" rows="10" placeholder="What is on your mine...?"></textarea>
                <div class="btns">
                    <div class="font-awesome-btns">
                        <div class="i-wrapper" title="{{ request.user }}"><i class="fa-solid fa-user"></i></div>
                        <div class="i-wrapper" title="Up load image"><i class="fas fa-image"></i></div>
                        <div class="i-wrapper" title="Up load file"><i class="fa-solid fa-file"></i></div>
                    </div>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="blogs">
            <!-- <div class="blog"></div> goes here!!!!! -->
        </div>
    </div>
    <div class="right-container">
        <div class="right-header">
            <h1>You might also like</h1>
        </div>
        <div class="you-might-also-like-container">
            <p>
                Lorem Ipsum has been the industry's standard dummy 
                text ever since the 1500s, when an unknown printer took 
                a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries
            </p>
        </div>
        <div class="you-might-also-like-container">
            <p>
                Lorem Ipsum has been the industry's standard dummy 
                text ever since the 1500s, when an unknown printer took 
                a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries
            </p>
        </div>
        <div class="you-might-also-like-container">
            <p>
                Lorem Ipsum has been the industry's standard dummy 
                text ever since the 1500s, when an unknown printer took 
                a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries
            </p>
        </div>
        <div class="you-might-also-like-container">
            <p>
                Lorem Ipsum has been the industry's standard dummy 
                text ever since the 1500s, when an unknown printer took 
                a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries
            </p>
        </div>
        <div class="you-might-also-like-container">
            <p>
                Lorem Ipsum has been the industry's standard dummy 
                text ever since the 1500s, when an unknown printer took 
                a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries
            </p>
        </div>
    </div>
</div>
{% endblock content %}