
<div class="nav-container">
    <nav class="nav-wrapper">
        <div class="brand-name-wrapper">
            <a href="{% url 'blog:home' %}">
                DjangoBlog
            </a>
        </div>
        <form class='search-form' action="" method="GET">
            <input type="text" name="search" placeholder="Your search">
            <button type="submit">Search</button>
        </form>
        <ul class="nav-items">
            <li><a href="{% url 'blog:home' %}">Home</a></li>
            <li><a href="">My blogs</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Logout</a></li>
        </ul>
    </nav>
</div>