{% load static %}
<!-- large screen  -->

<div class="nav-bar">
    <nav class="nav-wrapper">
        <div class="brand-name-wrapper">
            <a href="{% url 'blog:home' %}">
                <span>D</span>
                <div>
                    <span class="l-span">JANGO</span>
                    <span>BLOG FORUM</span>
                </div>
            </a>
        </div>
        <form class='search-form' action="" method="GET">
            <input type="text" name="search" placeholder="Search by title or keyword">
            <button type="submit">Search</button>
        </form>
        <div class="large-font-awesome-btns">
            <i class="fas fa-bars bars-btn-2"></i>
            <i class="fas fa-close close-btn-2"></i>
        </div>
        <ul class="nav-items">
            <li><a href="{% url 'blog:home' %}">Home</a></li>
            <li><a href="">My blogs</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Logout</a></li>
        </ul>
    </nav>
</div>
<!-- end of large screen -->

<!-- mobile navigation bar -->
<div class="mobile-nav-bar">
    <div class="mobile-brand-name">
        <a href="{% url 'blog:home' %}">
            <span>D</span>
            <div>
                <span class="l-span">JANGO</span>
                <span>BLOG FORUM</span>
            </div>
        </a>
        <div class="font-awesome-btns">
            <i class="fas fa-bars bars-btn"></i>
            <i style="display: none;" class="fas fa-close close-btn"></i>
        </div>
    </div>
    <ul class="mobile-menu-items">
        <li>
            <a class="user-profile" href="">
                <img src="{% static 'blog/profile_img/user_circle.png' %}" alt="">
                <!-- <i class="fas fa-user"></i> -->
                <div>
                    <span>Admin</span>
                    <span>Joined: Feb 12, 2022</span>
                </div>
            </a>
        </li>
        <li><a href="">Home</a></li>
        <li><a href="">My blogs</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Login</a></li>
        <li><a href="">Register</a></li>
    </ul>
    <div class="mobile-nav-items-fixed">
        <nav class="mobile-nav-wrapper">
            <form class='mobile-search-form' action="" method="GET">
                <input type="text" name="search" placeholder="Search by title or keyword">
                <button type="submit">Search</button>
            </form>
            <ul class="mobile-nav-items">
                <li>
                    <a href="{% url 'blog:home' %}">
                        <span><i class="fas fa-home"></i></span>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span><i class="fa-solid fa-plus"></i></span>
                        <span>Create</span>
                    </a>
                </li>
                <li>
                    <a class="mobile-search-btn" href="">
                        <span><i class="fas fa-search"></i></span>
                        <span>Search</span> 
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- end of mobile screen -->