{% load static %}
<!-- large screen  -->

<div class="nav-bar">
    <nav class="nav-wrapper">
        <div class="brand-name-wrapper">
            <a href="{% url 'blog:home' %}">
                <span>D</span>
                <div>
                    <span class="l-span">JANGO</span>
                    <span>BLOG FORUM</span>
                </div>
            </a>
        </div>
        <form class='search-form' action="" method="GET">
            <input type="text" name="search" placeholder="Search by title or keyword">
            <button type="submit">Search</button>
        </form>
        <div class="large-font-awesome-btns">
            <i class="fas fa-bars bars-btn-2"></i>
            <i class="fas fa-close close-btn-2"></i>
        </div>
        <ul class="nav-items">
            <li class="profile-container">
                <a class="user-profile" href="">
                    <img src="{% static 'blog/profile_img/user_circle.png' %}" alt="">
                    <div class="user-info">
                        <span>Admin</span>
                        <span>Joined: Feb 12, 2022</span>
                    </div>
                </a>
            </li>
            <li><a href=""><i class="fas fa-home"></i>Home</a></li>
            <li><a href=""><i class="fa-solid fa-blog"></i>My blogs</a></li>
            <li><a href=""><i class="fas fa-sign-in"></i>Login</a></li>
            <li><a href=""><i class="fa-solid fa-user-plus"></i> Join</a></li>
        </ul>
    </nav>
</div>
<!-- end of large screen -->




<!-- mobile navigation bar -->
<div class="mobile-nav-bar">
    <div class="mobile-brand-name">
        <a href="{% url 'blog:home' %}">
            <span>D</span>
            <div>
                <span class="l-span">JANGO</span>
                <span>BLOG FORUM</span>
            </div>
        </a>
        <div class="font-awesome-btns">
            <i class="fas fa-bars bars-btn"></i>
            <i style="display: none;" class="fas fa-close close-btn"></i>
        </div>
    </div>
    <ul class="mobile-menu-items">
        <li>
            <a class="user-profile" href="">
                <img src="{% static 'blog/profile_img/user_circle.png' %}" alt="">
                <div>
                    <span>Admin</span>
                    <span>Joined: Feb 12, 2022</span>
                </div>
            </a>
        </li>
        <li><a class='mobile-search' href=""><i class="fas fa-search"></i>Search</a></li>
        <li class='mobile-search-form'>
            <form action="" method="GET">
                <input type="text" name="search" placeholder="Search by title or keyword">
                <button ype="submit"><i class="fas fa-search"></i></button>
            </form>
        </li>
        <li><a href=""><i class="fas fa-home"></i>Home</a></li>
        <li><a href=""><i class="fa-solid fa-blog"></i>My blogs</a></li>
        <li><a href=""><i class="fas fa-sign-in"></i>Login</a></li>
        <li><a href=""><i class="fa-solid fa-user-plus"></i> Join</a></li>
    </ul>
</div>
<!-- end of mobile screen -->